@model QuanLyDiem.Models.GiangVien

@{
    ViewData["Title"] = "Edit";
}

<h1>Sửa</h1>

<h4>Giảng Viên</h4>
<hr />
<div class="row">
    <div class="w3-card w3-white container" style="width:60%;">
        <form asp-action="Edit">
            <h4 class="w3-center">Nhập thông tin cần sửa</h4>
            <input type="hidden" asp-for="MaGiangVien" />
            <div class="form-group">
                <label class="control-label">Tên giảng viên</label>
                <input asp-for="TenGiangVien" class="form-control" />
                <span asp-validation-for="TenGiangVien" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Giới tính</label>
                <input asp-for="GioiTinh" class="form-control" />
                <span asp-validation-for="GioiTinh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Ngày sinh</label>
                <input asp-for="NgaySinh" class="form-control" />
                <span asp-validation-for="NgaySinh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Mã khoa</label>
                <select asp-for="MaKhoa" class="form-control" asp-items="ViewBag.MaKhoa"></select>
                <span asp-validation-for="MaKhoa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Mã chuyên ngành</label>
                <select asp-for="MaChuyenNganh" class="form-control" asp-items="ViewBag.MaChuyenNganh"></select>
                <span asp-validation-for="MaChuyenNganh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Lưu" class="btn btn-outline-info" /> |
                <a asp-action="Index">Trở về</a>
            </div>
        </form>     

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
